<div class="content-panel">
    <mat-card>
        <mat-card-title><mat-icon>import_export</mat-icon> Available Templates</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="v-flex">
                <div class="grid">
                    <table>
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">S.No</th>
                                <th rowspan="2">Template Name</th>
                                <th rowspan="2" class="date-column">Import Date/Time</th>
                                <th rowspan="2">Import Status</th>
                                <th colspan="2" class="groupHeader">Import Details</th>
                                <th rowspan="2" class="text-center">User</th>
                            </tr>
                            <tr>
                                <th class="text-center">Loan Schemes</th>
                                <th class="text-center">DDAPs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>BnkImpHomeLoan</td>
                                <td class="date-column">10 Oct 2020 10:10 PM</td>
                                <td>Success</td>
                                <td class="text-center">3</td>
                                <td class="text-center">400</td>
                                <td class="text-center">Sdnyate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>