
.center {
  display: block;
  // margin-left: auto;
   margin-right: auto;
 // width: 50%;
  }  

  .actionButton{
    margin-right: 20px;
  }
  
  .content-frame {   
    height: 88vh;
    overflow: hidden;
  }

  .noborder {
    border:none
  }

  .mat-toolbar-row.mat-toolbar-row {
    background-color: #3e4d87;
  }

.mat-list-base .mat-list-item {
  background-color: antiquewhite !important;
}
  