<div class="content-panel dashboard-grid">
    <mat-card>
        <mat-card-title>
            <mat-icon>score</mat-icon> <label>Re-assign User</label>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
             <div class="v-flex cncUserDashboard">
               <!--  <div class="form-group h-flex nowrap">
                    <div class="form-field w-25">
                        <label>Bank Name</label>
                        <span>HDFC Bank</span>
                    </div>
                    <div class="form-field w-25">
                        <label>Branch Name</label>
                        <span>Magarpatta Branch</span>
                    </div>
                    <div class="form-field w-25">
                        <label>IFSC Code</label>
                        <span>HDFC0000847</span>
                    </div>
                </div>  -->
                <div>
                    <mat-divider></mat-divider>
                    <mat-tab-group>
                        <mat-tab label="Module 1 (A1)">
                            <div class="tab-content">
                                <div class="grid">
                                    <table>
                                        <tr>
                                            <th colspan="7" class="groupHeader">Module (A1) - Due Diligence for Audit of Fresh Credit Sanctions Disbursed during the month</th>
                                            <th colspan="3" class="groupHeader">Re-assign User/s</th>
                                        </tr>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th class="date-column">Date</th>
                                            <th>CnC No</th>
                                            <th class="name-column"s>Name of the Borrower</th>
                                            <th class="acc-number-column">CIF No</th>
                                            <th>Application Status (AS)</th>
                                            <th>Application Final Status</th>
                                            <th class="name-column">Maker</th>
                                            <th class="name-column">Checker</th>
                                            <th>Controlling Authority</th>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td class="name-column">
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td class="name-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <button color="primary" mat-raised-button>Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Module 2 (A2)">
                            <div class="tab-content">
                                <div class="grid">
                                    <table>
                                        <tr>
                                            <th colspan="7" class="groupHeader">Module (A2) - Due Diligence for Periodical Concurrent Audit of Credit Accounts</th>
                                            <th colspan="3" class="groupHeader">Re-assign User/s</th>
                                        </tr>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th class="date-column">Date</th>
                                            <th>CnC No</th>
                                            <th class="name-column">Name of the Borrower</th>
                                            <th class="acc-number-column">CIF No</th>
                                            <th>Application Status (AS)</th>
                                            <th>Application Final Status</th>
                                            <th class="name-column">Maker</th>
                                            <th class="name-column">Checker</th>
                                            <th>Controlling Authority</th>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td class="name-column">
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td class="name-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <button color="primary" mat-raised-button>Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Module 3 (A3)">
                            <div class="tab-content">
                                <div class="grid">
                                    <table>
                                        <tr>
                                            <th colspan="7" class="groupHeader">Module  (A3) - Due Diligence for Audit of Release of Securities during the month</th>
                                            <th colspan="3" class="groupHeader">Re-assign User/s</th>
                                        </tr>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th class="date-column">Date</th>
                                            <th>CnC No</th>
                                            <th class="name-column">Name of the Borrower</th>
                                            <th class="acc-number-column">CIF No</th>
                                            <th>Application Status (AS)</th>
                                            <th>Application Final Status</th>
                                            <th class="name-column">Maker</th>
                                            <th class="name-column">Checker</th>
                                            <th>Controlling Authority</th>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td class="name-column">
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td class="name-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <button color="primary" mat-raised-button>Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Module 4 (A4)">
                            <div class="tab-content">
                                <div class="grid">
                                    <table>
                                        <tr>
                                            <th colspan="7" class="groupHeader">Module (A4) - Due Diligence for Audit of Credit Management Processes and Procedures</th>
                                            <th colspan="3" class="groupHeader">Re-assign User/s</th>
                                        </tr>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th class="date-column">Date</th>
                                            <th>CnC No</th>
                                            <th>Application Status (AS)</th>
                                            <th>Application Final Status</th>
                                            <th class="name-column">Maker</th>
                                            <th class="name-column">Checker</th>
                                            <th>Controlling Authority</th>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>
                                                <mat-form-field appearance="outline">
                                                    <input matInput placeholder="">
                                                </mat-form-field>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="date-column">&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                            <td>
                                                <mat-select placeholder="Select" appearance="outline" floatlabel="never">
                                                    <mat-option value="1">Option 1</mat-option>
                                                    <mat-option value="2">Option 2</mat-option>
                                                </mat-select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-actions">
                                    <button color="primary" mat-raised-button>Save</button>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>