<div class="content-panel dashboard">
    <div class="v-flex">
        <h1><mat-icon>admin_panel_settings</mat-icon> BM Configurations</h1>
        <div class="h-flex">
            <div class="dashboard-card c01">
                <div class="icon">
                    <mat-icon>person_add</mat-icon>
                </div>
                <div class="count">12</div>
                <div class="title">Users</div>
            </div>
            <div class="dashboard-card c02">
                <div class="icon">
                    <mat-icon>add_location</mat-icon>
                </div>
                <div class="count">54</div>
                <div class="title">Headers</div>
            </div>
            <div class="dashboard-card c03">
                <div class="icon">
                    <mat-icon>language</mat-icon>
                </div>
                <div class="count">24</div>
                <div class="title">Languages</div>
            </div>
            <div class="dashboard-card c04">
                <div class="icon">
                    <mat-icon>subscriptions</mat-icon>
                </div>
                <div class="count">23</div>
                <div class="title">Subscriptions</div>
            </div>
            <div class="dashboard-card c05">
                <div class="icon">
                    <mat-icon>import_export</mat-icon>
                </div>
                <div class="count">87</div>
                <div class="title">Loan Schemes</div>
            </div>
        </div>
    </div>
    <div class="v-flex">
        <h1><mat-icon>how_to_reg</mat-icon> Client Configurations</h1>
        <div class="h-flex">
            <div class="dashboard-card c06">
                <div class="icon">
                    <mat-icon>account_balance</mat-icon>
                </div>
                <div class="count">56</div>
                <div class="title">Clients</div>
            </div>
            <div class="dashboard-card c07">
                <div class="icon">
                    <mat-icon>grading</mat-icon>
                </div>
                <div class="count">75</div>
                <div class="title">V1 Templates</div>
            </div>
            <div class="dashboard-card c14">
                <div class="icon">
                    <mat-icon>anchor</mat-icon>
                </div>
                <div class="count">54</div>
                <div class="title">Templates</div>
            </div>
            <div class="dashboard-card c09">
                <div class="icon">
                    <mat-icon>assessment</mat-icon>
                </div>
                <div class="count">23</div>
                <div class="title">Freeze Templates</div>
            </div>
            <div class="dashboard-card c10">
                <div class="icon">
                    <mat-icon>aspect_ratio</mat-icon>
                </div>
                <div class="count">34</div>
                <div class="title">Operational Templates</div>
            </div>
        </div>
    </div>
</div>