<div class="content-panel">
    <!-- <button class="icon-button mbot-20" color="primary" mat-raised-button routerLink="../edit-client">
        <mat-icon>arrow_back</mat-icon> Back to Edit Client
    </button> -->
    <mat-card>
        <mat-card-title>
            <mat-icon>grading</mat-icon> Headers for Module 1
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="alert alert-danger mtop-20" role="alert" *ngIf="isError">
            {{ errorMessage }}
        </div>
        <mat-card-content>
            <div class="mtop-20 v-flex">
                <div class="h-flex flex-wrap">
                    <div class="api-headers-card">
                        <div class="icon">
                            <mat-icon>view_in_ar</mat-icon>
                        </div>
                        <div class="title">Header 1</div>
                        <button class="btn btn-primary" (click)="viewDD()">View Due Diligence</button>
                    </div>
                </div>
                <div class="h-flex flex-wrap">
                    <div class="api-headers-card">
                        <div class="icon">
                            <mat-icon>view_in_ar</mat-icon>
                        </div>
                        <div class="title">Header 2</div>
                        <button class="btn btn-primary" (click)="viewDD()">View Due Diligence</button>
                    </div>
                </div>
                <div class="h-flex flex-wrap">
                    <div class="api-headers-card">
                        <div class="icon">
                            <mat-icon>view_in_ar</mat-icon>
                        </div>
                        <div class="title">Header 3</div>
                        <button class="btn btn-primary" (click)="viewDD()">View Due Diligence</button>
                    </div>
                </div>
                <div class="h-flex flex-wrap">
                    <div class="api-headers-card">
                        <div class="icon">
                            <mat-icon>view_in_ar</mat-icon>
                        </div>
                        <div class="title">Header 4</div>
                        <button class="btn btn-primary" (click)="viewDD()">View Due Diligence</button>
                    </div>
                </div>
            </div>
            <div class="mtop-20">
                <router-outlet></router-outlet>
            </div>
        </mat-card-content>
    </mat-card>
</div>