<div class="content-panel">
    <mat-card>
        <mat-card-title>
            <mat-icon>score</mat-icon> <label>CIF Registration</label>
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="alert alert-danger mbot-20" role="alert" *ngIf="isCIFRegistrationFailed">
                {{ errorMessage }}
        </div>
        <mat-card-content>
            <form [formGroup]="registrationForm" autocomplete="off" *ngIf="search">
                <div class="form-group v-flex">
                    <div class="form-field w-50">
                        <mat-form-field appearance="fill">
                            <mat-label>CIF Number</mat-label>
                            <input matInput placeholder="CIF Number" formControlName="cifNum" maxlength="20">
                            <mat-error>{{pageErrors.cifNum}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-field w-50">
                        <mat-form-field appearance="fill">
                            <mat-label>Customer Name</mat-label>
                            <input matInput placeholder="Customer Name" formControlName="customerName">
                            <mat-error>{{pageErrors.customerName}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-actions">
                        <button color="primary" mat-raised-button (click)="performSubmit()">Register</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>