.grey {
    background: #eee;
}
.grid th {
    white-space: nowrap;
}
.grid td span {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.grid td.schemaColor input {
    text-align: center;
    font-weight: bold;
}
