.custom-row{
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-frame {   
    height: 73vh;
    //overflow: hidden;
    //overflow-y: hidden;
    overflow-x: hidden;
    justify-content: right !important;
  }